blinker==1.8.2
cachelib==0.9.0
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
distlib==0.3.7
dnspython==2.6.1
email_validator==2.2.0
filelock==3.13.1
Flask==3.0.3
Flask-Caching==2.3.0
Flask-Login==0.6.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
greenlet==3.0.3
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
platformdirs==3.11.0
pycodestyle==1.8.0.dev0
requests==2.32.3
SQLAlchemy==2.0.31
typing_extensions==4.12.2
urllib3==2.2.1
virtualenv==20.24.6
virtualenvwrapper-win==1.2.7
Werkzeug==3.0.3
WTForms==3.1.2

flask
flask-cors
pycodestyle
SQLAlchemy
mysqlclient
bcrypt
Flask-SQLAlchemy