{% include 'header.html' %}
<main class="form-container">
    <form class="add-pet">
        <h3>Add a Pet</h3>
        <div class="alert"><p>Error! Try Again</p></div>
        <input type="text" id="pet-name" name="name" placeholder="Enter pet name"><br>
        <input type="text" id="pet-specie" name="specie" placeholder="Enter pet specie"><br>
        <input type="text" id="pet-breed" name="breed" placeholder="Enter pet breed"><br>
        <input type="text" id="pet-age" name="age" placeholder="Enter pet age"><br>
        <input type="text" id="pet-color" name="color" placeholder="Enter pet color"><br>
        <label for="pet-photo">Upload pet photo:</label><br>
        <input type="file" id="pet-photo" name="photo"><br>
        <button type="submit">Add Pet</button>
    </form>
</main>
{% include 'footer.html' %}