{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">
{% block title %}{% endblock %}
{% endblock %}

{% block content %}
<div class="register-container" id="vaccination">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                    <span class="close-btn">&times;</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}<br>
    <h4>Add Growth Record</h4>
    <form method="POST" action="{{ url_for('views.add_growth', a_id=appointment.a_id) }}">
        {{ growth_form.hidden_tag() }}
        <div class="field">
            {{ growth_form.month.label }}<br>
            {{ growth_form.month(class="form-ctr") }}
        </div>
        <div class="field">
            {{ growth_form.year.label }}<br>
            {{ growth_form.year(class="form-ctr") }}
        </div>
        <div class="field">
            {{ growth_form.weight.label }}<br>
            {{ growth_form.weight(class="form-ctr") }}
        </div>
        <div class="field">
            {{ growth_form.height.label }}<br>
            {{ growth_form.height(class="form-ctr") }}
        </div>
        <div class="submit-field">
            {{ growth_form.submit(class="submit-btn") }}
        </div>
    </form>
</div>

{% endblock %}