<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/base.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <header>
        <div class="logo-nav-container">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/HappyPet2.png') }}" alt="Logo">
            </div>
            <div class="navbar">
                <a href="#">Home</a>
                <a href="#">Health Tracking</a>
                <a href="#">Appointments</a>
                <a href="#">Tips</a>
                <a href="#">Services</a>
                <a href="#">Lost Pet Alert</a>
                <a href="#">Community</a>
            </div>
        </div>
        <form class="search-form">
            <div class="search-div">
                <input type="text" placeholder="Search..." class="search-input">
                <button type="submit" class="search-button">Search</button>
            </div>
            <div class="account-options">
                <div class="dropdown">
                    <a href="#"><img src="{{ url_for('static', filename='images/humanPhoto.png') }}" alt=""> Account <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <a href="{{ url_for('auth.register') }}">Register</a>
                    <a href="{{ url_for('auth.login') }}">Login</a>
                    <a href="{{ url_for('auth.register') }}">Add a Pet</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#"><img src="{{ url_for('static', filename='images/Help_icon.png') }}" alt=""> Help <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <a href="{{ url_for('auth.register') }}">Chat with us</a>
                    <a href="{{ url_for('auth.register') }}">Help center</a>
                    <a href="{{ url_for('auth.register') }}">Contact us</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#"><img src="{{ url_for('static', filename='images/happyPetCart.png') }}" alt=""> Cart <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <a href="{{ url_for('auth.register') }}">Buy</a>
                    <a href="{{ url_for('auth.register') }}">Sell</a>
                    </div>
                </div>
            </div>
        </form>
    </header>
    {% block content %}{% endblock %}
    <footer>
        <div class="footer-content">
            <div class="footer-column">
                <h4>About HappyPet</h4>
                <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">HappyPet Express</a></li>
                    <li><a href="#">Terms and Conditions</a></li>
                    <li><a href="#">Official Stores</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Need Help?</h4>
                <ul>
                    <li><a href="#">Chat with us</a></li>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>Make money with HappyPet</h4>
                <ul>
                    <li><a href="#">Sell on HappyPet</a></li>
                    <li><a href="#">Vendor Hub</a></li>
                    <li><a href="#">Become a Sales Consultant</a></li>
                    <li><a href="#">Become a Logistics Service Partner</a></li>
                </ul>
            </div>
            <div class="footer-column">
                <h4>HappyPet International</h4>
                <ul>
                    <li><a href="#">South Africa</a></li>
                    <li><a href="#">Ghana</a></li>
                    <li><a href="#">Nigeria</a></li>
                    <li><a href="#">Kenya</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-social">
            <a href="#"><img src="{{ url_for('static', filename='images/facebooklogo.png') }}" alt=""></a>
            <a href="#"><img src="{{ url_for('static', filename='images/Twitterlogo.png') }}" alt=""></a>
            <a href="#"><img src="{{ url_for('static', filename='images/youtubelogo.png') }}" alt=""></a>
            <a href="#"><img src="{{ url_for('static', filename='images/instagramlogo.png') }}" alt=""></a>
        </div>
    </footer>
</body>
</html>
