<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/basefile.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/health_tracker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/add_pet.css') }}">
    <script type="module" src="{{ url_for('static', filename='js/alert_btn.js') }}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <header>
        <div class="logo-nav-container">
            <div class="logo-container">
                <img src="{{ url_for('static', filename='images/HappyPet2.png') }}" alt="Logo">
            </div>
            <div class="navbar">
                <a href="#">Home</a>
                <a href="#">Health Tracking</a>
                <a href="#">Appointments</a>
                <a href="#">Tips</a>
                <a href="#">Services</a>
                <a href="#">Lost Pet Alert</a>
                <a href="#">Community</a>
            </div>
        </div>
        <form class="search-form">
            <div class="search-div">
                <input type="text" placeholder="Search..." class="search-input">
                <button type="submit" class="search-button">Search</button>
            </div>
            <div class="account-options">
                <div class="dropdown">
                    <a href="#"><img src="{{ url_for('static', filename='images/humanPhoto.png') }}" alt=""> Account <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <a href="{{ url_for('auth.register') }}">Register</a>
                    <a href="{{ url_for('auth.login') }}">Login</a>
                    <a href="{{ url_for('auth.logout') }}">Logout</a>
                    <a href="{{ url_for('views.add_pet') }}">Add a Pet</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#"><img src="{{ url_for('static', filename='images/Help_icon.png') }}" alt=""> Help <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <a href="{{ url_for('auth.register') }}">Chat with us</a>
                    <a href="{{ url_for('auth.register') }}">Help center</a>
                    <a href="{{ url_for('auth.register') }}">Contact us</a>
                </div>
            </div>
            <div class="dropdown">
                <a href="#"><img src="{{ url_for('static', filename='images/happyPetCart.png') }}" alt=""> Cart <i class="fa fa-caret-down"></i></a>
                <div class="dropdown-content">
                    <a href="{{ url_for('auth.register') }}">Buy</a>
                    <a href="{{ url_for('auth.register') }}">Sell</a>
                    </div>
                </div>
            </div>
        </form>
    </header>