{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/health_tracker.css') }}">
<script type="module" src="{{ url_for('static', filename='js/health_tracker.js') }}"></script>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
{% block title %}Health Tracker{% endblock %}
{% endblock %}

{% block content %}
<main class="main-container">
        <div class="pet-card">
            <div class="profile-icon">
                <img src="/{{ pet.photo }}" alt="profile photo">
                <h4>{{ pet.name }}<span>({{ pet.breed }})</span></h4>
            </div>
            <div class="content">
                <div class="nav-bar">
                    <a href="#" class="mini-nav active records" id="records-{{ pet.id }}">Health Records</a>
                    <a href="#" class="mini-nav growth" id="growth-{{ pet.id }}">Growth Tracking</a>
                    <a href="#" class="mini-nav symptoms" id="symptoms-{{ pet.id }}">Symptom Checker</a>
                </div>
                <div class="health-records" id="health-record-{{ pet.id }}">
                    <h3>Vaccination History</h3>
                    <table class="vaccination">
                        <tr>
                            <th>Vaccine Name</th>
                            <th>Number of Doses Given</th>
                            <th>Date Administered</th>
                            <th>Date of Second Dose</th>
                            <th>Number of Doses Left</th>
                            <th>Adminstered By</th>
                        </tr>
                        {% for vaccination in vaccinations %}
                        <tr>
                            <td>{{ vaccination.vaccine_name }}</td>
                            <td>{{ vaccination.dose_number }}</td>
                            <td>{{ vaccination.date_administered }}</td>
                            <td>{{ vaccination.next_due_date }}</td>
                            <td>{{ vaccination.doses_left }}</td>
                            <td>{{ vaccination.vet_name }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% if vaccinations == [] %}
                    <p>No records yet!</p>
                    {% endif %}

                    <h3 class="table-title">Medical Conditions</h3>
                    <table class="med-conditions">
                        <tr>
                            <th>Date of Diagnosis</th>
                            <th>Diagnosis</th>
                            <th>Symptoms</th>
                            <th>Treatment</th>
                            <th>Status</th>
                            <th>Vet Doctor</th>
                        </tr>
                        {% for record in health_records %}
                        <tr>
                            <td>{{ record.date }}</td>
                            <td>{{ record.diagnosis }}</td>
                            <td>{{ record.symptoms }}</td>
                            <td>{{ record.treatment }}</td>
                            <td>{{ record.status }}</td>
                            <td>{{ record.vet_doctor }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% if health_records == [] %}
                    <p>No Medical Conditions</p>
                    {% endif %}

                    <h3 class="table-title">Vet Visits</h3>
                    <table class="pet-visits">
                        <tr>
                            <th>Date and Time</th>
                            <th>Reason for Visist</th>
                        </tr>
                        {% for appointment in appointments %}
                        <tr>
                            <td>{{ appointment.time }}</td>
                            <td>{{ appointment.appointment_type }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% if appointments == [] %}
                    <p>No records yet!</p>
                    {% endif %}
                </div>
                <div class="growth-tracking hide" id="track-growth-{{ pet.id }}">
                    <div class="growth-data">
                        <img src="/static/images/puppy-growth-chart.png" alt="growth chart">
                        <div class="size-data">
                            {% if growth_records != [] %}
                            {% with height=growth_records.0.height %}
                            <h5>Height:</h5>
                            <p>{{ height }}ft<span>(15%+)</span></p>
                            {% endwith %}

                            <h5>Weight:</h5>
                            {% with weight=growth_records.0.weight %}
                            <p>{{ weight }}lbs<span>(25%+)</span></p>
                            {% endwith %}
                            {% endif %}
                        </div>
                    </div>
                    <h3 class="table-title">Growth this year</h3>
                    <table class="med-conditions">
                        <tr>
                            <th>Height</th>
                            <th>Weight</th>
                            <th>Month</th>
                            <th>Year</th>
                        </tr>
                        {% for record in growth_records %}
                        <tr>
                            <td>{{ record.height }}</td>
                            <td>{{ record.weight }}</td>
                            <td>{{ record.month }}</td>
                            <td>{{ record.year }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% if growth_records == [] %}
                    <p class="info">Records Not Sufficient!</p>
                    {% endif %}
                </div>
                <div class="symptom-checker hide" id="check-symptom-{{ pet.id }}">
                    <form>
                        <h3>Check Pet Symptoms</h3>
                        <label for="breed-{{ pet.id }}">Breed:</label><br>
                        <input type="text" id="breed-{{ pet.id }}" name="breed" placeholder="Breed"><br>
                        <label for="symptoms-{{ pet.id }}">Symptoms Observed:</label><br>
                        <textarea id="symptoms-{{ pet.id }}" name="symptoms" placeholder="Symptoms"></textarea><br>
                        <button type="submit">Diagnose Symptoms</button>
                    </form>
                </div>
            </div>
        </div>
</main>
{% endblock %}