<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="../static/styles/base.css">
    <link rel="stylesheet" href="../static/styles/health_tracker.css">
</head>
<body>
    <header>
        <h1>Home Page</h1>
    </header>

    <main>
        <div class ="container">
            <div class="profile-icon">
                <img src="/static/images/puppy.jfif" alt="profile photo">
                <h4>Pet Name<span>(Breed)</span></h4>
            </div>
            <div class="content">
                <div class="nav-bar">
                    <a href="#" class="mini-nav">Health Records</a>
                    <a href="#" class="mini-nav">Growth Tracking</a>
                    <a href="#" class="mini-nav">SymptomChecker</a>
                </div>
                <div class="health-records">
                    <h3>Vaccination History</h3>
                    <table class="vaccination">
                        <tr>
                            <td>S/N</td>
                            <td>Vaccine Name</td>
                            <td>Number of Doses</td>
                            <td>Date of Frist Dose</td>
                            <td>Date of Second Dose</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </main>

    <footer>
        Footer content here
    </footer>
</body>
</html>
