{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">
{% block title %}{% endblock %}
{% endblock %}

{% block content %}
<div class="register-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                    <span class="close-btn">&times;</span>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}<br>
    <h4 style="text-align: center;">Sign in OR login as a: <a href="{{ url_for('auth.vet_login') }}">Vet. Doctor</a></h4>
    <form method="POST" action="{{ url_for('auth.login')}}">
        {{ form.hidden_tag() }}
        <div class="field">
            {{ form.email.label }}<br>
            {{ form.email(class="form-ctr") }}
        </div>
        <div class="field password-container">
            {{ form.password.label }}<br>
            {{ form.password(class="form-ctr", id="password") }}
            <i class="fa fa-eye toggle-password" id="togglePassword"></i>
        </div>
        <div class="submit-field">
            {{ form.submit(class="submit-btn") }}
        </div>
        <h4>Don't have account, register: <a href="{{ url_for('auth.register') }}">User</a> -- <a href="{{ url_for('auth.register_vet')}}">Vet user</a></h4>
    </form>
</div>

{% endblock %}