<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css " href="../static/styles/lost.css">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />


    <title>LostPet</title>
  </head>
  <body>

    <div class="wrapper">
      <div class="multi_color_border"></div>
      <div class="top_nav">
        <div class="left">
          <div class="logo">
           <img src="/templates/images/HappyPet2.png"> 
          </div>
          
        </div>
        <div class="right">
          <ul>
          <li><a href="#"></a>Home</li>
          <li><a href="#"></a>HealthTracking</li>
          <li><a href="#"></a>Appointments</li>
          <li><a href="#"></a>Tips</li>
          <li><a href="#"></a>Services</li>
          <li><a href="#"></a>LostPetAlerts</li>
          <li><a href="#"></a>Community</li>

        </ul>

        <!--BOTTOM NAV SECTION-->
        <div class="botttom_nav">
            <ul>
              <div class="search_bar">
                <input type="text" placeholder="Search" >
                    <button><i class="fas fa-search"></i></button>
              </div>
              <!-- <li><a href="#"><i class="fas fa-search"></i> </a>Search</li> -->
              <li><a href="#"><i class="fas fa-user"></i></a>Account<i class="fas fa-angle-down"></i></li>
              <li><a href="#"><i class="fas fa-question-circle"></i> 
                <li<a href="#"></a>Help<i class="fas fa-angle-down"></i></li>
              <li><a href="#"><i class="fas fa-shopping-cart"></i> </a>Cart</li>
            </ul>
          </div>
      </div>
        </div>
      </div>
      </div> 
     
      </div>

    </div>


    <!--BACKGROUND SECTION-->
    
    <div class="container">
      <h2 id="head">LOST PET(S):</h2>
      <div class="background-image"></div>
      <div class="info-cards">
        <div class="card">
          <img src="images/dog1.avif" alt="Person 1">
          <h3>Emily Davis</h3>
          <p>Age: 31</p>
          <p>Gender: Female</p>
          <p>BREED: GERMAN SHEPHERD</p>
          <p>COLOR:BLACK</p>
          <p>WEIGHT:</p>
          <p>LAST SEEN:</p>
          
        </div>
        <div class="card">
          <img src="images/dog1.avif" alt="Person 2">
          <h3>Emily Davis</h3>
          <p>Age: 31</p>
          <p>Gender: Female</p>
          <p>BREED: GERMAN SHEPHERD</p>
          <p>COLOR:BLACK</p>
          <p>WEIGHT:</p>
          <p>LAST SEEN:</p>
          
        </div>
        <div class="card">
          <img src="images/dog1.avif" alt="Person 3">
          <h3>Emily Davis</h3>
          <p>Age: 31</p>
          <p>Gender: Female</p>
          <p>BREED: GERMAN SHEPHERD</p>
          <p>COLOR:BLACK</p>
          <p>WEIGHT:</p>
          <p>LAST SEEN:</p>
          
        </div>
        <div class="card">
          <img src="images/dog1.avif" alt="Person 4">
          <h3>Emily Davis</h3>
          <p>Age: 31</p>
          <p>Gender: Female</p>
          <p>BREED: GERMAN SHEPHERD</p>
          <p>COLOR:BLACK</p>
          <p>WEIGHT:</p>
          <p>LAST SEEN:</p>

        </div>
      </div>
    </div>
    


  
   <!--FOOTER SECTION-->
   <footer>
    <div class="foot">
   <div class="footer">
    <h4>About HappyPet</h4>
    <li>About us</li>
    <li>HappyPet Express</li>
    <li>Terms and Conditions</li>
    <li>official Stores</li>
   </div>
   <div class="footer">
    <h4>Contact us</h4>
    <li>chat with us</li>
    <li>Help Center</li>
    <li>Contact Us</li>
   </div>
   <div class="footer">
    <h4>Make money with HappyPet</h4>
    <p>Sell on Happy</p>
    <p>Vendor Hub</p>
    <p>Become a sales Consultant</p>
    <p>Become a logistics Service Partner</p>
    
   </div>

   <div class="footer">
    <h4>HappyPet International</h4>
    <p>South Africa</p>
    <p>Ghana</p>
    <p>Nigeria</p>
    <p>Kenya</p>
   </div>
  </div>
  <h1>Join Us</h1>
  <div class="social-icons">
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
  </div>
  </footer>
  </body>
</html>
