<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css " href="../static/styles/lost.css">
    <title>Document</title>
  </head>
  <body class="main-content">

    <!--NAV SECTION-->
    <div class="nav-bar">

    </div>

    <h1>LOST PET(S):</h1>
    <!--Main Section-->
    <div class="container">
        <img src="images/pet1.jpg">
        
      <div class="lost-pet">
        <!-- <img src="images/dog1.avif" alt="lost pet"> -->
        <p>
        NAME:
        <br>
        GENDER:
        BREED:
        <br>
        AGE:
        COLOR:
        WEIGHT:
        LAST SEEN:
      </p>
    
        </div>

        <div class="lost-pet">
          <p>
            NAME:
            <br>
            GENDER:
            BREED:
            <br>
            AGE:
            <br>
            COLOR:
            WEIGHT:
            LAST SEEN:
            
          </p>
            
          </div>
    
          <div class="lost-pet">
            <div id="img-pet">
            </div>
            <p>
              NAME:
              <br>
              GENDER:
              BREED:
              <br>
              AGE:
              <br>
              COLOR:
              WEIGHT:
              LAST SEEN:
              
            </p>
              
            
          </div>
    
          <div class="lost-pet">
            <p>
              NAME:
              <br>
              GENDER:
              BREED:
              <br>
              AGE:
              <br>
              COLOR:
              <br>
              WEIGHT:
              LAST SEEN:
              
          </div>
      </div>

    <!--FOOTER SECTION-->
    <div class="footer">
      <h3></h3>
    </div>
  </body>
</html>
