<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/base.css">
    <link rel="stylesheet" href="../static/styles/service_dir_bio.css">
    <title>Service directory bio</title>
</head>
<body>
    <header>
        <h1>Home Page</h1>
    </header>

    <main>
        <!-- The container for the card div -->
    <div class="container">
        <div class="card">
            <img src="../static/images/vertimage1.jpg" alt="" class="card-img">
        </div>
        <div class="card">
            <h4>Dr Vera Abiola</h4>
            <h3>MBBS (HONS), BMedSci, FRANZCO</h3>
            <p>
                Dr Vera Abiola is  a vertinary doctor at Saint Philomina Pet Healthcare  Hospital  in Enugu.
                He has a decade experience in various treatment of pets ranging from cat, dog, cow, etc,
            </p>
            
            <a href=""><button>Book Appointment</button></a>
            </div>
        </div>
    </div>
    <div class="container-txt">
        <
    </div>
    </main>

    <footer>
        Footer content here
    </footer>
</body>
</html>