{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/service_dir.css') }}">
{% block title %}Service directory{% endblock %}
{% endblock %}

{% block body %}
{{ super() }}
<div class="container">
    <div class="card">
        <img src="{{ url_for('static', filename='images/vertimage.png') }}" alt="" class="card-img">
        <div class="card-content">
            <h4>Dr Vera</h4>
            <a href="#"><button>View profile</button></a>
        </div>
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/vertimage.png') }}" alt="" class="card-img">
        <div class="card-content">
            <h4>Dr Vera</h4>
            <a href="#"><button>View profile</button></a>
        </div>
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/vertimage1.jpg') }}" alt="" class="card-img">
        <div class="card-content">
            <h4>Dr Vera</h4>
            <a href="#"><button>View profile</button></a>
        </div>
    </div>
    <div class="card">
        <img src="{{ url_for('static', filename='images/vertimage1.jpg') }}" alt="" class="card-img">
        <div class="card-content">
            <h4>Dr Vera</h4>
            <a href="#"><button>View profile</button></a>
        </div>
    </div>
</div>
{% endblock %}
