{% extends "base.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/vet_home.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='styles/register.css') }}">
{% block title %}{% endblock %}
{% endblock %}

{% block content %}
<main class="vet-container">
    <div class="vet-nav">
        <img src="/{{ vet.photo }}" alt="vet doctor photo">
        <ul>
            <li><a href="#">Appointments</a></li>
            <li><a href="#">Vet Session</a></li>
            <li><a href="{{ url_for('views.add_vaccine', a_id=appointment.a_id)}}">Add Vaccination Record</a></li>
            <li><a href="{{ url_for('views.add_health', a_id=appointment.a_id) }}">Add Medical Record</a></li>
            <li><a href="{{ url_for('views.add_growth', a_id=appointment.a_id) }}">Add Growth Data</a></li>
            <li><a href="#">Account Update</a></li>
        </ul>
    </div>
    <div class="vet-content">
        <h3>Welcome Dr {{ vet.name }}</h3>
        <div id="vet-session">
            <h2>Vet Session</h2>
            <div class="session-intro">
                <img src="/{{ pet.photo }}" alt="pet photo">
                <div class="pet-details">
                    <p style="font-style:bold;">{{ pet.name }}</p>
                    <p><span>Age: {{ pet_age }}</span> Years</p>
                    <p><span>Specie: {{ pet.specie }}</span> </p>
                    <p><span>Breed:</span> {{ pet.breed }}</p>
                    <p><span>Color:</span> {{ pet.color }} </p>
                </div>
            </div>
            <h6>Vet Session type: {{ appointment.appointment_type }}</h6>
            <h6>Sessions Details: {{ appointment.info }}</h6>
            <p></p>
            <button><a href="{{ url_for('views.health', pet_id=pet.id)}}">View Pet's Health Record</a></button>
            <button class="end-session"><a href="{{ url_for('views.end_session', a_id=appointment.a_id) }}"><i class="fa-solid fa-x"></i> End Pet Session </a></button>
        </div>
    </div>
</main>
{% endblock %}