*{
    padding: 0;
    margin: 0;
}
/* style container for health tracker page profile header */
.container {
    height: 100vh;
    width: 100vw;
    background-color: #CCCCCC;
    margin-top: 100px;
}

.container .header {
    display: flex;
    width: 99%;
    position: absolute;
    height: 30%;
    padding: 0 0 0 5px;
    margin-top: 20px;
}

.container .header .profile-icon {
    height: 100%;
    width: 30%;
    padding: 0 20px 0 10px;
}

.container .header .profile-icon img {
    height: 70%;
    width: 70%;
    margin-right: 15%;
    margin-left: 15%;
    border-radius: 8%;
}
.container .header .profile-icon h4 {
    color: #272727;
    padding: 5px;
    text-align: center;
}

.container .header .profile-icon h4 span {
    font-style: italic;
}

.container .nav-bar {
    margin-left: 10px;
    text-align: center;
    width: 65%;
    height: 40px;
    display: flex;
    background-color: #272727;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    border-radius: 5px;
}

.container .nav-bar a {
    color: #CCCCCC;
    text-decoration: none;
}

.container .nav-bar a:hover {
    text-decoration: underline;
    color: #EF7676;
}
/* style for destop view health tracker header */
@media (min-width: 600px) {
    .container .header .profile-icon h4 {
        font-size: 20px;
    }
    .container .nav-bar {
        margin-top: 10px;
        margin-left: 0;
        padding: 0 30px;
        width: 50%       
    }
    .container .nav-bar a {
        grid-row: 30%;
    }
}