/* Style the Outside container */
.container {
    height: 50%;
    display: flex;
    justify-content: center;
    justify-items: center;
    margin-top: 200px;
}

/* Style div_01 in container */
.card {
    height: 250px;
    width: 200px;
    margin: 5% 2.5%;
    background-color: #EEEEEE;
    border-radius: 8%;
    padding: 0.2% 0.2% 0% 0.2%;
}

/* Styling card-img */
.card-img {
    width: 100%;
    height: 60%;
    border-radius: 8%;
}

/* Styling h4 font */
h4 {
    text-align: center;
}

/* Style the button element */
button {
    width: 100%;
    height: 32px;
    margin-top: 6px;
    border-radius: 8%;
    background-color: #A52A2A;
    color: #CCCCCC;
    border: none;
}

/* Style a link when hover */
button:hover {
    background-color: #272727;
    cursor: pointer;
}
