<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <link rel="stylesheet" href="/static/styles/health_tracker.css">
        <title>Health Tracker</title>
    </head>
    <body>
        <div class ="container">
            <div class="header">
                <div class="profile-icon">
                    <img src="/templates/images/puppy.jfif" alt="profile photo">
                    <h4>Pet Name<span>(Breed)</span></h4>
                </div>
                <div class="nav-bar">
                    <a href="#" class="mini-nav">Health Records</a>
                    <a href="#" class="mini-nav">Growth Tracking</a>
                    <a href="#" class="mini-nav">SymptomChecker</a>
                </div>
            </div>
        </div>
    </body>
</html>